#body {
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-image: url("sky.jpg");
  background-size: cover;
}
.container {
  font-family: "Open Sans", sans-serif;
}
#extra-info {
  border-radius: 20px;
  padding: 15px;
  width: 180px;
  border-color: rgb(140, 49, 49);
}
#icon {
  width: 100px;
  max-width: 100px;
}
#temp {
  font-size: 50px;
  margin-top: 0;
}
#description {
  font-size: 25px;
  color: white;
  padding-left: 30px;
  padding-top: 10px;
}
#city-input {
  width: 280px;
  border-radius: 10px;
}
#date {
  font-size: 20px;
  margin: 0px;
}
#next-days {
  width: 60px;
  border-radius: 5px;
  text-align: center;
  border: solid, white;
}
#future-forecast {
  background: rgba(27, 27, 28, 0.4);
  padding: 25px;
  max-width: 500px;
  margin-top: 20px;
}
#time {
  font-size: 20px;
  text-align: center;
}
#section1 {
  background: rgba(27, 27, 28, 0.4);
  padding: 0px;
  margin: 0px;
  border: 0px;
}
#form-control {
  text-align: center;
}
button {
  border-radius: 10px;
}
h1 {
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}
h2 {
  margin-top: 0;
}

.source-code {
  text-align: center;
}
a#celsius {
  text-decoration: none;
  font-size: 20px;
}

.future-icon {
  text-align: center;
}
.day {
  text-align: center;
}
.max-min {
  text-align: center;
}
.next-days {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}
